<h4 tailwind-modal-title>{{ 'DOCS.MODAL_TITLE' | transloco }}</h4>
<div tailwind-modal-content>
  <p class="text-sm text-neutral-600 m-0">{{ 'DOCS.MODAL_BODY' | transloco }}</p>
</div>
<div tailwind-modal-footer class="flex justify-end gap-2">
  <tailwind-button color="primary" (onClick)="export()">
    {{ 'DOCS.MODAL_BTN_EXPORT' | transloco }}
  </tailwind-button>
  <tailwind-button color="secondary" kind="outlined" (onClick)="close()">
    {{ 'DOCS.MODAL_BTN_CLOSE' | transloco }}
  </tailwind-button>
</div>
